<configuration>
  <packageSources>
    <clear /> <!-- clear to make sure that everyone uses the same sources -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Jericho's feed" value="https://f.feedz.io/jericho/jericho/nuget/index.json" />
  </packageSources>
</configuration>